name: indexer-on-chain-governance
description: Indexer on-chain Governance Template
networks:
  - id: 1
    start_block: 0
    contracts:
      - name: Governance
        abi_file_path: abis/GovernanceContract.json
        address:
          - 0x9d4c63565d5618310271bf3f3c01b2954c1d1639
          - 0x323A76393544d5ecca80cd6ef2A560C6a395b7E3
          - 0x6f3E6272A167e8AcCb32072d08E0957F9c79223d          
        handler: src/EventHandlers.ts
        events:
          - event: ProposalCanceled(uint256 proposalId)
            requiredEntities:
              - name: User
              - name: Proposal
              - name: Vote
          - event: ProposalCreated(uint256 proposalId, address proposer, address[] targets, uint256[] values, string[] signatures, bytes[] calldatas, uint256 startBlock, uint256 endBlock, string description)
            requiredEntities:
              - name: User
              - name: Proposal
              - name: Vote
          - event: ProposalExecuted(uint256 proposalId)
            requiredEntities:
              - name: User
              - name: Proposal
              - name: Vote
          - event: ProposalQueued(uint256 proposalId, uint256 eta)
            requiredEntities:
              - name: User
              - name: Proposal
              - name: Vote
          - event: VoteCast(address indexed voter, uint256 proposalId, uint8 support, uint256 weight, string reason)
            requiredEntities:
              - name: User
              - name: Proposal
              - name: Vote
          - event: VoteCastWithParams(address indexed voter, uint256 proposalId, uint8 support, uint256 weight, string reason, bytes params)
            requiredEntities:
              - name: User
              - name: Proposal
              - name: Vote
      - name: GovToken
        abi_file_path: abis/gitcoinToken.json
        address:
          - 0xde30da39c46104798bb5aa3fe8b9e0e1f348163f
          - 0xc18360217d8f7ab5e7c516566761ea12ce7f9d72
          - 0x6f3E6272A167e8AcCb32072d08E0957F9c79223d
        handler: src/EventHandlers.ts
        entities:
          - Delegate
          - Delegator
        events:
          - event: DelegateChanged(address indexed delegator,address indexed fromDelegate ,address indexed toDelegate)
            requiredEntities:
              - name: User 
            handler: delegateChanged              
          - event: DelegateVotesChanged(address indexed delegate , uint256 previousBalance , uint256 newBalance)
            requiredEntities:
              - name: User
            handler: delegateVotesChanged
              
              

